<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{head.title}} | TwoBrains</title>
        <link rel="stylesheet" href="/{{concat 'static/css/apps/' info.path '.css'}}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    </head>
    <body>
        <!-- <pre class="_debug data-dump sb">{{json this}}</pre>-->

        {{>common/header}}
        {{>common/menu}}

        <main id="page">
            {{{body}}}
        </main>

        <script type="module" src="/static/js/common.js"></script>
        <script type="module" src="/{{concat 'static/js/apps/' info.path '.js'}}"></script>
    </body>
</html>